In [28]:
import google.cloud.bigquery as bq
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
plt.style.use('fivethirtyeight')
plt.rcParams['figure.dpi']= 300

In [3]:
%matplotlib inline
%load_ext google.cloud.bigquery

In [26]:
%%bigquery hrcn

SELECT
  CAST(season AS INT64) AS season_int,
  CASE
    WHEN WMO_WIND <= 33 THEN 'depression'
    WHEN WMO_WIND <= 63 THEN 'storm'
    WHEN WMO_WIND <= 82 THEN 'cat_1'
    WHEN WMO_WIND <= 95 THEN 'cat_2'
    WHEN WMO_WIND <= 112 THEN 'cat_3'
    WHEN WMO_WIND <= 136 THEN 'cat_4'
    ELSE 'cat_5'
  END AS category,
  COUNT(DISTINCT sid) AS n_cyclones
FROM
  `bigquery-public-data.noaa_hurricanes.hurricanes`
WHERE
  basin = "NA"
  AND landfall = 0
  AND WMO_WIND IS NOT NULL
GROUP BY
  season_int, category

In [29]:
# sel_cat = ['cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5']
hrcn_pivot = pd.pivot_table(data=hurricanes,
                            index='season_int',
                            columns='category',
                            values='n_cyclones',
                            fill_value=0)

In [30]:
hrcn_pivot.head()

category    cat_1  cat_2  cat_3  cat_4  cat_5  depression  storm
season_int
1851            2      1      1      0      0           0      3
1852            3      2      0      0      0           0      4
1853            1      0      0      0      0           0      0
1854            3      1      0      0      0           0      3
1855            1      0      1      0      0           0      2