In [1]:
import os
import json
import google.cloud.bigquery as bq
import pandas as pd

In [2]:
bq_client = bq.Client()

In [3]:
sql_dir_path = os.path.join(os.getcwd(), '..', 'sql')
query_path = os.path.join(sql_dir_path, 'stations_hrcn_data.sql')

with open(query_path, 'r') as f:
    query = f.read()

In [4]:
combined_data = bq_client.query(query).result().to_dataframe()

In [5]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 6 columns):
date              907 non-null object
sid               907 non-null object
avg_lat           907 non-null float64
avg_lng           907 non-null float64
avg_wind_speed    666 non-null float64
avg_temp          852 non-null float64
dtypes: float64(4), object(2)
memory usage: 42.6+ KB

In [7]:
(combined_data[combined_data.avg_temp.notna()]
 .avg_wind_speed.isnull()
 .groupby(combined_data.sid)
 .count()
 .sort_values()
 .tail(10))

sid
2000103S10095    14
2000125N06136    14
2000202N12131    15
2000205N10260    15
2000056S17152    16
2000333S11140    17
2000245N14157    19
2000083S17102    19
2000217N11342    23
2000032S11116    29
Name: avg_wind_speed, dtype: int64

In [9]:
combined_data.dropna().head()

          date            sid    avg_lat     avg_lng  avg_wind_speed  avg_temp
48  2000-01-28  2000025S15056 -17.046750   56.868187           96.25     249.0
49  2000-01-28  2000024S12100 -18.852175  109.505000           62.50     249.0
50  2000-01-28  2000023S15172 -34.882313  200.310625           55.00     249.0
51  2000-01-29  2000025S15056 -19.701625   54.760900           88.75     244.0
52  2000-01-29  2000024S12100 -20.804058  107.100583           66.25     244.0