In [2]:
import os
import json
import google.cloud.bigquery as bq
import pandas as pd

In [6]:
%load_ext google.cloud.bigquery

In [7]:
%%bigquery station_sample

SELECT
  *
FROM `bigquery-public-data.ghcn_d.ghcnd_2000` ghcnd_2000
WHERE
  ghcnd_2000.id = 'GPM00078894'
  AND ghcnd_2000.element ='TAVG'
LIMIT 1000

In [9]:
station_sample.sort_values(['date', 'time'])

              id        date element  value mflag qflag sflag  time
188  GPM00078894  2000-01-28    TAVG  249.0     H  None     S  None
172  GPM00078894  2000-01-29    TAVG  244.0     H  None     S  None
274  GPM00078894  2000-01-30    TAVG  237.0     H  None     S  None
261  GPM00078894  2000-01-31    TAVG  241.0     H  None     S  None
233  GPM00078894  2000-02-01    TAVG  241.0     H  None     S  None
..           ...         ...     ...    ...   ...   ...   ...   ...
34   GPM00078894  2000-12-27    TAVG  260.0     H  None     S  None
324  GPM00078894  2000-12-28    TAVG  259.0     H  None     S  None
192  GPM00078894  2000-12-29    TAVG  266.0     H  None     S  None
15   GPM00078894  2000-12-30    TAVG  269.0     H  None     S  None
250  GPM00078894  2000-12-31    TAVG  267.0     H  None     S  None

[333 rows x 8 columns]

In [13]:
%%bigquery hrcn_sample

SELECT
  sid,
  iso_time,
  latitude,
  longitude,
  WMO_WIND
FROM
  `bigquery-public-data.noaa_hurricanes.hurricanes`
WHERE
  extract(year FROM iso_time) = 2000
  AND sid = "1999357S08076"
LIMIT 1000

In [14]:
hrcn_sample.sort_values('iso_time')

              sid                  iso_time  latitude  longitude  WMO_WIND
5   1999357S08076 2000-01-01 00:00:00+00:00  -12.7667    49.0000      25.0
13  1999357S08076 2000-01-01 03:00:00+00:00  -12.7476    48.4301       NaN
6   1999357S08076 2000-01-01 06:00:00+00:00  -12.7333    47.9000      25.0
9   1999357S08076 2000-01-01 09:00:00+00:00  -12.6807    47.5150       NaN
8   1999357S08076 2000-01-01 12:00:00+00:00  -12.6333    47.2000      25.0
10  1999357S08076 2000-01-01 15:00:00+00:00  -12.6183    46.8858       NaN
3   1999357S08076 2000-01-01 18:00:00+00:00  -12.6333    46.5667      30.0
16  1999357S08076 2000-01-01 21:00:00+00:00  -12.6708    46.2150       NaN
1   1999357S08076 2000-01-02 00:00:00+00:00  -12.7333    45.8333      33.0
14  1999357S08076 2000-01-02 03:00:00+00:00  -12.8091    45.4366       NaN
0   1999357S08076 2000-01-02 06:00:00+00:00  -12.9000    45.0000      35.0
15  1999357S08076 2000-01-02 09:00:00+00:00  -12.9997    44.5474       NaN
7   1999357S08076 2000-01-02 12:00:00+00:00  -13.1000    44.0000      35.0
12  1999357S08076 2000-01-02 15:00:00+00:00  -13.1959    43.3017       NaN
2   1999357S08076 2000-01-02 18:00:00+00:00  -13.3200    42.5400      35.0
11  1999357S08076 2000-01-02 21:00:00+00:00  -13.4151    41.8374       NaN
4   1999357S08076 2000-01-03 00:00:00+00:00  -13.5000    41.2333      33.0
20  1999357S08076 2000-01-03 03:00:00+00:00  -13.6725    40.8202       NaN
18  1999357S08076 2000-01-03 06:00:00+00:00  -13.6000    40.3000      30.0
19  1999357S08076 2000-01-03 09:00:00+00:00  -13.4300    39.8723       NaN
17  1999357S08076 2000-01-03 12:00:00+00:00  -13.2000    39.5000      25.0